export PATH="$PWD/.local/bin:$PATH"
export LD_LIBRARY_PATH="$PWD/VRPSolver/bin/"

export CPLEX_ROOT=/opt/ibm/ILOG/CPLEX_Studio201
export CPLEX_BINARIES="$CPLEX_ROOT/cplex/bin/x86-64_linux"
export LD_LIBRARY_PATH="$CPLEX_BINARIES:$LD_LIBRARY_PATH"

export BAPCOD_RCSP_LIB="$PWD/VRPSolver/BapcodFramework/build/Debug/Bapcod/lib/Linux-x64/libbapcod_debug.a"
