#!/usr/bin/env sh

export PATH="$PWD/.local/bin:$PATH"
export LD_LIBRARY_PATH="$PWD/VRPSolver/bin/"

export CPLEX_ROOT=/opt/ibm/ILOG/CPLEX_Studio201
export CPLEX_BINARIES="$CPLEX_ROOT/cplex/bin/x86-64_linux"
export LD_LIBRARY_PATH="$CPLEX_BINARIES:$LD_LIBRARY_PATH"

# For the Julia interface code: https://github.com/inria-UFF/BaPCodVRPSolver.jl
export BAPCOD_RCSP_LIB="$PWD/VRPSolver/BapcodFramework/build/Release/Bapcod/lib/Linux-x64/libbapcod_release.a"
