[submodule "deps/log.c"]
	path = deps/log.c
	url = https://github.com/dparo/log.c/
[submodule "deps/argtable3"]
	path = deps/argtable3
	url = https://github.com/argtable/argtable3
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/doxygen-awesome"]
	path = deps/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "deps/greatest"]
	path = deps/greatest
	url = https://github.com/silentbicycle/greatest
[submodule "deps/cJSON"]
	path = deps/cJSON
	url = https://github.com/DaveGamble/cJSON
