[submodule "deps/log.c"]
	path = deps/log.c
	url = https://github.com/dparo/log.c/
[submodule "deps/Unity"]
	path = deps/Unity
	url = https://github.com/dparo/Unity
[submodule "deps/argtable3"]
	path = deps/argtable3
	url = https://github.com/argtable/argtable3
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
